  body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            font-family: Arial, sans-serif;
        }

        button {
            padding: 10px 20px;
            font-size: 16px;
        }

        #mensagem {
            margin-top: 20px;
            font-size: 18px;
            color: #333;
        }